<!doctype html>
<html>
    <head>
        <title>Meadowlark Travel</title>
    </head>
    <body>
        <header><img src="/img/angular.png" alt="logo" /></header>
        {{{body}}}
    </body>
</html>